<h1><%= @user.name %>さんとのチャット</h1>
  <div class="offset-md-4">
  <% @messages.each do |m| %>
    <%= m.content %>
    <br>
  <% end %>
 </div>
  <%= form_with model: @message, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <%= f.submit style: "display:none"%>
  <% end %>